/* * {
    background-color: lightgrey;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: "none"
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
 }


.btn-wrapper {
    display: block;
    justify-content: center;
    margin: 40px 0;
}

.startBtn {
    background: blueviolet;
    color: white;
    font-size: 2rem;
    border-radius: 4px;

}

.timer-wrapper {
    display: inline-block;
    justify-content: center;
    font-family: monospace;
    margin: 10px 0;
}

.timer {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(10, 10, 10);
}

.scores-wrapper {
    display: flex;
    justify-content: center;
}

.divider {
    width: 100%;
    border: 1px solid black;
} */